html,
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #fff;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 15px;
  background-color:  #ff763b;
  color: white;
  border: 0;
  padding: 7px 10px;
  border: solid 1px #ff763b;
  transition: background-color 100ms, color 100ms;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: #ff763b
}
