<script>
  import { http, apiUrl } from "./http.js";
  import { authenticatedUser } from "./auth";

  let followers;

  authenticatedUser.subscribe(async user => {
    if (!user) return;
    const response = await http.get(`${apiUrl}/users/${user.id}/followers`);
    followers = response.data;
  });
</script>

<div id="followersList">
  <ul>
    {#if followers}
      <p>Vous êtes suivi par :</p>
      {#each followers as follower}
        <li>
          <p>
            <b>{follower.fullname} / @{follower.username}</b>
            :
            <br />
            Email: {follower.mail}
            <br />
            {#if follower.phone}Téléphone: {follower.phone}{/if}
          </p>
        </li>
      {/each}
    {:else}
      <p class="loading">loading...</p>
    {/if}
  </ul>
</div>
