<script>
  import { onMount } from "svelte";
  import { http, apiUrl } from "./http.js";
  import { authenticatedUser } from "./auth";

  let textElement;
  let uploadArea;
  let fileElement;
  let fileToUpload;

  // Get file selectionned via drag-and-drop
  function handleDrop(e) {
    var files = e.dataTransfer.files;
    fileToUpload = files[0];
    fileElement.files = e.dataTransfer.files;
  }

  function highlight(e) {
    uploadArea.classList.add("highlight");
  }

  function unhighlight(e) {
    uploadArea.classList.remove("highlight");
  }

  function uploadFile(text, file) {
    var formData = new FormData();

    formData.append("content", text);
    // A post may not contain an image
    if (file !== undefined) {
      formData.append("uploadimg", file);
    }

    authenticatedUser.subscribe(async user => {
      formData.append("idUser", user.id);
      await http.post(`${apiUrl}/posts`, formData);
    });
  }

  function handleSubmit() {
    // Get file selectionned via files selector
    if (fileToUpload === undefined) {
      fileToUpload = fileElement.files[0];
    }
    if (fileToUpload !== undefined) {
      if (
        fileToUpload.type !== "image/png" &&
        fileToUpload.type !== "image/jpeg" &&
        fileToUpload.type !== "image/gif"
      ) {
        fileToUpload = undefined;
        return;
      }
    }
    let text = textElement.value;
    if (text !== undefined && text !== "") {
      uploadFile(text, fileToUpload);
    }
  }

  function preventDefaults(e) {
    e.preventDefault();
    e.stopPropagation();
  }

  onMount(() => {
    //Prevent default drag behaviors
    ["dragenter", "dragover", "dragleave", "drop"].forEach(eventName => {
      uploadArea.addEventListener(eventName, preventDefaults, false);
      document.body.addEventListener(eventName, preventDefaults, false);
    });

    // Highlight drop area when item is dragged over it
    ["dragenter", "dragover"].forEach(eventName => {
      uploadArea.addEventListener(eventName, highlight, false);
    });
    ["dragleave", "drop"].forEach(eventName => {
      uploadArea.addEventListener(eventName, unhighlight, false);
    });

    // Handle dropped files
    uploadArea.addEventListener("drop", handleDrop, false);
  });
</script>

<style>
  #postCreation {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  #uploadArea {
    border: 2px dashed #ccc;
    border-radius: 2px;
    margin-bottom: 8px;
    padding: 10px;
  }
  #uploadArea.highlight {
    border-color: rgba(2, 236, 34, 0.938);
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    background: rgb(182, 231, 236);
  }
  .content-label {
    display: block;
    margin-bottom: 8px;
  }
  .content-input {
    width: 100%;
    margin-bottom: 10px;
  }
</style>

<div id="postCreation">
  <form class="postForm" on:submit|preventDefault={handleSubmit}>
    <label for="text" class="content-label">Contenu de votre post</label>
    <input
      id="text"
      class="content-input"
      type="text"
      size="50"
      bind:this={textElement} />
    <div id="uploadArea" bind:this={uploadArea}>
      <label for="fileElement">Selectionnez ou déposez un fichier</label>
      <input
        id="fileElement"
        bind:this={fileElement}
        type="file"
        accept="image/png, image/jpeg, image/gif" />
    </div>
    <input type="submit" class="button" value="Poster" />
  </form>
</div>
