<script>
  import { onMount } from "svelte";

  let element = null;
  let visible = false;
  let hasBeenVisible = false;

  onMount(() => {
    const observer = new IntersectionObserver(entries => {
      visible = entries[0].isIntersecting;
      hasBeenVisible = hasBeenVisible || visible;
    });
    observer.observe(element);
    return () => observer.unobserve(element);
  });
</script>

<div bind:this={element}>
  <slot {visible} {hasBeenVisible} />
</div>
